/* @tailwind base; */
@tailwind utilities;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex w-full justify-center rounded-md px-3 py-2.5 text-sm/6 font-semibold shadow-sm ring-primary/25 transition-all hover:ring-1 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary/50 active:scale-x-95 active:ring-2;
  }

  .btn-white {
    @apply flex w-full justify-center rounded-lg border border-primary bg-light px-6 py-2.5 text-sm/6 font-semibold text-primary shadow-sm ring-primary/25 transition-all hover:bg-light/90 hover:ring-1 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:scale-x-95 active:ring-2;
  }

  .btn-primary {
    @apply flex w-full justify-center rounded-lg border border-primary bg-primary px-6 py-2.5 text-sm/6 font-semibold text-light shadow-sm ring-primary/25 transition-all hover:bg-primary/90 hover:ring-1 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:scale-x-95 active:ring-2;
  }

  .input-field {
    @apply block w-full rounded-md border-2 border-primary/50 bg-light px-3 py-2.5 text-base text-textcolor -outline-offset-1 outline-primary ring-primary/25 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:ring-2 disabled:cursor-not-allowed disabled:bg-transparent disabled:text-gray-500 disabled:opacity-50 disabled:ring-0 sm:text-sm/6 md:text-sm;
  }

  .ellipsis {
    @apply line-clamp-1 max-h-20 overflow-hidden text-ellipsis whitespace-break-spaces !leading-relaxed [-webkit-box-orient:vertical] [display:-webkit-box];
  }

  .ellipsis-2 {
    @apply line-clamp-2 max-h-20 overflow-hidden text-ellipsis whitespace-break-spaces !leading-relaxed [-webkit-box-orient:vertical] [display:-webkit-box];
  }

  .ellipsis-3 {
    @apply line-clamp-3 max-h-20 overflow-hidden text-ellipsis whitespace-break-spaces !leading-relaxed [-webkit-box-orient:vertical] [display:-webkit-box];
  }

  .input {
    @apply block w-full rounded-md border-2 border-dark/20 bg-transparent px-3 py-2.5 text-base text-textcolor -outline-offset-1 outline-primary ring-primary/25 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:ring-2 disabled:cursor-not-allowed disabled:bg-transparent disabled:text-gray-500 disabled:opacity-50 disabled:ring-0 sm:text-sm/6 md:text-sm;
  }

  .textarea {
    @apply w-full resize-none rounded-md border border-dark/20 bg-transparent px-4 py-3 outline-none ring-primary/30 focus:ring-4 md:text-sm;
  }

  .label {
    @apply text-sm font-medium text-textcolor;
  }
  @keyframes pulse-glow {
  0%, 100% { box-shadow: 0 0 0 rgba(0,123,255,0); }
  50% { box-shadow: 0 0 10px rgba(0,123,255,0.8); }
}
.animate-glow {
  animation: pulse-glow 0.5s ease-out;
}
}
